ErrorDocument 404 /error/404.php

RewriteRule ^all$ all.php
RewriteRule ^view$ view.php
RewriteRule ^collections$ collections.php
RewriteRule ^videos$ videos.php
RewriteRule ^photos-gifs$ photos-gifs.php
RewriteRule ^top100$ top100.php
RewriteRule ^add/([^/]+)$ add.php?r=$1 [L,QSA]
RewriteRule ^add/([^/]+)/([^/]+)$ add.php?r=$1&s=$2 [L,QSA]
RewriteRule ^search$ search.php