ErrorDocument 404 /error/404.php

RewriteEngine On

RewriteRule ^all$ all.php
RewriteRule ^view$ view.php
RewriteRule ^collections$ collections.php
RewriteRule ^videos$ videos.php
RewriteRule ^photos-gifs$ photos-gifs.php
RewriteRule ^top100$ top100.php
RewriteRule ^add/([^/]+)$ add.php?r=$1 [L,QSA]
RewriteRule ^add/([^/]+)/([^/]+)$ add.php?r=$1&s=$2 [L,QSA]
RewriteRule ^search$ search.php
RewriteRule ^vertiscroll$ verticalScroll.php 
RewriteRule ^vertiscroll-js$ verticalScroll-js.php 
RewriteRule ^stats$ stats.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9\-_]+)$ $1.php [L]